.techOptions {
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.techOptions label {
  margin-right: 1rem;
}

.techOptions label:hover, 
.techOptions input[type=radio]:checked+label {
  color: #3e98ff;
  cursor: pointer;
}