.btn {
  padding: .5rem;
  margin: .5rem;
  border: none;
  border-radius: 15px;
  background-color: #3e98ff;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #2b66aa;
}

@media (min-width: 500px) {
  .btn {
    padding: 1rem;
    margin: 1rem;
    border-radius: 25px;
  }
}