.card {  
  margin: 2rem auto;
  width: 80%;
  max-width: 1200px;
  border: 1px solid;
  padding: 1rem;
  box-shadow: 5px 10px 18px #888888;
  display: flex;
  justify-content: space-around;
  text-align: center;  
  flex-direction: column;
}

.image {
  max-width: 80%;
  margin: auto;
  border: 1px solid rgb(189, 189, 189);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .links {
    flex-direction: row;
  }
}